[submodule "third_party/utf8.h"]
	path = third_party/utf8.h
	url = https://github.com/sheredom/utf8.h.git
[submodule "third_party/librope"]
	path = third_party/librope
	url = https://github.com/fiserj/librope.git
