[submodule "third_party/bimg"]
	path = third_party/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "third_party/bx"]
	path = third_party/bx
	url = https://github.com/bkaradzic/bx
[submodule "third_party/bgfx"]
	path = third_party/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/utf8.h"]
	path = third_party/utf8.h
	url = https://github.com/sheredom/utf8.h.git
[submodule "third_party/tinycc"]
	path = third_party/tinycc
	url = https://github.com/TinyCC/tinycc
[submodule "third_party/tree-sitter"]
	path = third_party/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "third_party/tree-sitter-c"]
	path = third_party/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "third_party/librope"]
	path = third_party/librope
	url = https://github.com/fiserj/librope.git
